<a href="https://colab.research.google.com/github/Ramnarayan-Choudhary/new-ML-data-/blob/main/IE506_21b030030_assignment1_q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
drug_vs_Body_measurements=pd.read_csv('/content/file1 (1).csv')
drug_vs_Body_measurements

,attr1,attr2,attr3,attr4,attr5,attr6,attr7,atr8,attr9,attr10,attr11,attr12,attr13,attr14,attr15,attr16,attr17,attr18
0,42.9,26.0,31.5,13.1,10.4,18.8,14.1,106.2,71.5,32.5,26.0,34.5,36.5,23.5,16.5,21,1,65.6
1,43.7,28.5,33.5,14.0,11.8,20.6,15.1,110.5,79.0,34.4,28.0,36.5,37.5,24.5,17.0,23,1,71.8
2,40.1,28.2,33.3,13.9,10.9,19.7,14.1,115.1,83.2,33.4,28.8,37.0,37.3,21.9,16.9,28,1,80.7
3,44.3,29.9,34.0,13.9,11.2,20.9,15.0,104.5,77.8,31.0,26.2,37.0,34.8,23.0,16.6,23,1,72.6
4,41.0,26.8,32.2,14.9,10.6,17.8,14.0,107.5,78.0,36.0,29.0,34.5,35.0,22.0,16.5,23,1,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,38.5,25.6,31.7,11.8,10.2,16.8,12.9,92.8,74.7,28.1,23.1,34.4,32.7,20.9,15.2,19,0,60.0
442,35.3,25.4,28.5,10.6,10.4,17.0,12.6,95.9,60.8,26.8,22.8,34.4,33.1,21.0,15.4,31,0,46.8
443,36.2,28.7,27.8,12.4,10.2,17.9,13.2,96.1,66.9,26.2,22.6,35.0,35.2,22.4,15.2,34,0,57.3
444,34.9,28.7,32.9,13.4,10.8,17.9,12.9,98.5,68.8,29.6,25.1,34.4,35.0,21.0,15.9,34,0,64.1
445,38.7,29.7,32.0,12.8,10.5,18.4,13.8,103.8,63.7,26.4,23.0,36.5,34.1,21.3,15.0,24,0,63.6

In [ ]:
drug_vs_Body_measurements_data_description_file = pd.read_csv("/content/desc1.txt (1).txt", delimiter=';')

drug_vs_Body_measurements_data_description_file.head()

  Body measurements of 446 physically active individuals.
0                                        Description
1  Body girth measurements and skeletal diameter ...
2                                             Format
3  A data frame with 446 observations on the foll...
4                                              attr1